body {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif; 
    background-color: #2a6045; 
    color: #fff;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 20%;
    padding: 20px;
    background-color: #f0f4e8;
    color: #2a6045; 
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
}

.sidebar a {
    color: #2a6045;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 15px;
    display: block;
}

.sidebar a:hover {
    text-decoration: underline;
}

.sidebar .active {
    font-weight: bold;
}

.logout-btn {
    margin-top: auto;
    padding: 10px;
    background-color: #ccc; 
    color: #2a6045; 
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.content {
    flex: 1;
    padding: 40px;
    background-color: #2a6045; 
    color: #f0f4e8; 
}

.savings-section {
    border: 2px solid #f0f4e8; 
    padding: 20px;
    background-color: #f0f4e8; 
    color: #2a6045; 
    border-radius: 8px;
}

.savings-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #2a6045; 
}

.add-goal-form label {
    font-size: 16px;
    color: #2a6045; 
    display: block;
    margin-bottom: 5px;
}

.add-goal-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #2a6045; 
    border-radius: 5px;
    background-color: #f0f4e8;
    color: #2a6045; 
}

.add-goal-form button {
    padding: 10px 15px;
    background-color: #88a478; 
    color: #fff; 
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
}

.add-goal-form button:hover {
    background-color: #6b8e23; 
}

.goal-list {
    margin-top: 20px;
}

.goal-list ul {
    list-style-type: none;
    padding: 0;
}

.goal-list li {
    border: 1px solid #2a6045;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f0f4e8; 
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #2a6045; 
}

.goal-progress-container {
    background-color: #e8f5e9; 
    border-radius: 5px;
    height: 20px;
    position: relative;
    overflow: hidden;
}

.goal-progress-bar {
    height: 100%;
    background-color: #2a6045;
    width: 0%;
    transition: width 0.5s ease-in-out;
}

.goal-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goal-actions {
    display: flex;
    gap: 10px;
}

.goal-actions button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background-color: #f0f4e8; 
    border: 1px solid #2a6045;
    font-size: 14px;
    border-radius: 5px;
    color: #2a6045; 
}

.goal-actions button:hover {
    background-color: #2a6045; 
    color: #f0f4e8; 
}