body {
    font-family: Georgia, serif;
    background-color: #f0f4e8;
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 200px;
  padding: 20px;
  border-right: 2px solid #2c5445;
  display: flex;
  flex-direction: column;
}

.sidebar a {
  color: #2c5445;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 15px;
  display: block;
}

.sidebar a:hover {
  text-decoration: underline;
}

.logout-btn {
  margin-top: auto;
  padding: 10px;
  background-color: #2c5445;
  color: #f5f7f1;
  border: none;
  cursor: pointer;
  font-family: Georgia, serif;
  font-size: 16px;
}

main {
  flex-grow: 1;
  padding: 20px;
}

.content-wrapper {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.main-content {
  flex: 3; 
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

#addTipButton {
  font-family: Georgia, serif;
  border-color: #2c5445;
  background-color: #cfd6c1;
  border-radius: 5px;
}

.side-container {
  flex: 1; 
  background-color: #f5f7f1;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 2px solid #2c5445;
}

.content-box {
  background-color: #f5f7f1;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 2px solid #2c5445;
}

.box {
  position: relative;
  width: 300px; 
  height: 150px;
  border: 1px solid #000;
  padding: 10px;
  box-sizing: border-box;
}

#tips {
  position: relative;
}

.right-image {
  position: absolute;
  right: 10px; 
  top: 50%; 
  transform: translateY(-50%); 
  width: 200px;
}

#influencer-links {
  list-style-type: none; 
  padding: 0;
  margin: 0; 
}

#influencer-links li {
  margin-bottom: 15px;
}

#influencer-links span {
  font-weight: bold; 
  display: block;
}

.description {
  color: gray; 
  margin-top: 5px; 
  font-size: 0.9em; 
}

.social-icons {
  margin-top: 10px; 
  display: flex; 
  gap: 10px; 
}

.social-logo {
  width: 32px; 
  height: 32px; 
  transition: opacity 0.2s ease-in-out; 
}

.social-logo:hover {
  opacity: 0.8; 
}